<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sge="http://sge.ailtonluiz.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Búsqueda de entrada</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Búsqueda de entrada</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="al-page-header-controls">
						<a class="btn  btn-default" th:href="@{/compras/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Neuva entrada</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${compraFilter}" th:action="@{/compras}">
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="codigo">Nº Entrada</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="status" class="control-label">Estado</label>
					<select id="status" class="form-control" th:field="*{status}">
	                    <option value="">Todos los estados</option>
	                    <option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}"></option>
	                </select>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="dataCriacaoInicial">Fecha de entrada</label>
					<div class="form-inline">
						<input type="text" class="form-control  al-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{desde}" autocomplete="off"/>
						<label for="dataCriacaoFinal" class="al-form-label-between">Hasta</label>
						<input type="text" class="form-control  al-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{ate}" autocomplete="off"/>
					</div>
				</div>
				
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="nomeFornecedor">Nombre del proveedor</label>
					<input type="text" class="form-control" id="nomeFornecedor" th:field="*{nomeFornecedor}"/>
				</div>
				
				<div class="form-group  col-sm-6">
					<label class="control-label" for="nrAlbara">Nº Albaran</label>
					<input type="text" class="form-control" id="nrAlbara" th:field="*{nrAlbara}"/>
				</div>
			
				
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Búsqueda</button>
		</form>
		
		<div class="table-responsive  sge-tabela-simples">
			<table class="table  table-hover">
	            <thead>
	            	<tr>
	                	<th>Nº</th>
	                	<th>
	                		<sge:order page="${pagina}" field="c.nome" text="Proveedor"/>
	                	</th>
	                	<th>
	                		<sge:order page="${pagina}" field="nrAlbara" text="'Nº Albaran'"/>
	                	</th>
	                	<th>Fecha de entrada</th>
	                	<th>Usuario</th>
	                	<th>Estado</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
	            <tbody>
					<tr th:each="compra : ${pagina.conteudo}">
						<td th:text="${compra.codigo}"></td>
						<td th:text="${compra.fornecedor.nome}"></td>
						<td th:text="${{compra.nrAlbara}}"></td>
						<td th:text="${{compra.dataEntrada}}"></td>
						<td th:text="${compra.usuario.nome}"></td>
						<td th:switch="${compra.status.descricao}">
								<span th:case="'Entregado'" class="label label-success"	th:text="${compra.status.descricao}"></span>
								<span th:case="'Presupuesto'" class="label label-info" th:text="${compra.status.descricao}"></span>
								<span th:case="'Mercancías Rota'" class="label label-danger" th:text="${compra.status.descricao}"></span>
								<span th:case="'Cancelado'" class="label label-default"	th:text="${compra.status.descricao}"></span>
						</td>
	                 	<td class="text-center">
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
		   									th:href="@{/compras/{codigo}(codigo=${compra.codigo})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="10">No se ha encontrado ninguna entrada</td>
	                </tr>
	             </tbody>
	         </table>
		</div>
		
		<sge:pagination page="${pagina}"/>
	</div>
</section>

</body>
</html>